<style>
      body {
            margin: 0;
            padding: 0;
            background-image: url('https://source.unsplash.com/1600x900/?job'); 
            font-family: 'Arial', sans-serif;
            text-align: center;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: right;
            justify-content: center;    
        }
        header {
            background-color: #E6E6FA;
            padding: 10px 0; 
            text-align: center;
            height: 30px; 
        }
        nav {
            position: absolute;
            top: 50px; 
            right: 5px;
        }
        nav a {
            text-decoration: none;
            color: #007BFF;
            margin: 0 20px;
            font-weight: bold;
        }
	    .container {
            max-width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: center;
            margin-bottom: 20px;
			color:'red';
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="number"],
		input[type="long"],
        select {
            width: 90%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .radio-group label {
            display: inline-block;
            margin-right: 10px;
        }
        button {
            background-color: #4caf50;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 50%;
        }
	    h1 {
            font-size: 40px; 
            margin: 0;
            display: inline-block;
			color: #6030A8;
		}
        button:hover {
            background-color: #0056b3;
        }
		footer {
            background-color: #7852A9;
            color: white;
            text-align: center;
            padding: 10px;
            width: 100%;
            flex-shrink: 100%; 
         }
</style>